<!DOCTYPE html>

{% load staticfiles %}
{% load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8"/>
    {% block head_meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    {% endblock %}
    
    <title>BPA Workflow Facility</title>
    {% load static from staticfiles %}
    {% load bootstrap3 %}
    
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=True %}
    
    <link rel="icon" href="{% static 'bpa-logos/favicon.ico' %}" type="image/x-icon">
    
    <script src="{% static 'bpaworkflow/bpaworkflow.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"
    integrity="sha256-KteOoEtQ75FeAFFOTJZlvNt0iJ8NMusVDESd5jlwKEQ= sha384-+VyieUXwWQSImpRIFhlRJNe2KeZblzwXEF8LsYAO/cYlQdDG2SdJaky4Ud0sdVup sha512-coj002JZWtDMvnYzDgRXBzWlrEiS/EW2SNAYs0SVSDf62RSZ7ygs0leIGAjMiwe8cQRfqwrInDlHYsUSTDTPjQ=="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'bpaworkflow/common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bpaworkflow/bpaworkflow.css' %}"/>
    
    {% block extra_head %}
    {% endblock %}
    
</head>
<body>
    <div id="wrap">
        <header class="navbar navbar-static-top">
            <div class="container">
                <a class="logo" href="https://data.bioplatforms.com/">
                    <img src="{% static 'bpa-logos/BioplatformsAustralia.png' %}" alt="Bioplatform Australia" />
                </a>
            </div>
            
            {% if DEBUG_ONLY_VIEW %}
            <div class="alert alert-warning text-center">
                This page should be accessible only in <strong>DEBUG</strong> mode.
            </div>
            {% endif %}
        </header>
        <div class="hide container" id="error-bar"></div>
        
        <div class="content-div">
            
            {% csrf_token %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Upload validation
                            </div>
                            
                            <div class="panel-body">
                                <div class="form-group"></div>
                                    <select class="form-control" id="importer"></select>
                                </div>
                            </div>

                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2"><input class="btn btn-primary" type="button" id="validate" value="Validate" /></div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="site-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="span4">
                        <a href="https://www.education.gov.au/national-collaborative-research-infrastructure-strategy-ncris">
                            <img id="ncris-img" src="{% static 'bpa-logos/ncris.png' %}" alt="NCRIS" />
                        </a>
                    </div>
                    <div class="span4">
                        <p><a href="http://www.bioplatforms.com">Operated by Bioplatforms Australia</a></p>
                        <p><a href="http://www.bioplatforms.com/contact/">Contact</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script>
        window.bpa_workflow_config = {
            'ckan_base_url': "{{ ckan_base_url }}",
            'metadata_endpoint': "{% url 'metadata' %}",
        };
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            $('[data-toggle="popover"]').popover({html:true})
        })
    </script>
    
</body>
</html>
