<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8" />
    {% block head_meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    {% endblock %}

    <title>Bioplatforms Workflow Facility</title>
    {% load bootstrap3 %}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery=True %}

    <link rel="icon" href="{% static 'bpa-logos/favicon.ico' %}" type="image/x-icon">

    <script src="{% static 'bpaworkflow/bpaworkflow.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"
        integrity="sha256-KteOoEtQ75FeAFFOTJZlvNt0iJ8NMusVDESd5jlwKEQ= sha384-+VyieUXwWQSImpRIFhlRJNe2KeZblzwXEF8LsYAO/cYlQdDG2SdJaky4Ud0sdVup sha512-coj002JZWtDMvnYzDgRXBzWlrEiS/EW2SNAYs0SVSDf62RSZ7ygs0leIGAjMiwe8cQRfqwrInDlHYsUSTDTPjQ=="
        crossorigin="anonymous"></script>
    <script src="{% static 'bpaworkflow/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'bpaworkflow/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'bpaworkflow/jquery.fileupload.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'bpaworkflow/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bpaworkflow/bpaworkflow.css' %}" />

    {% block extra_head %}
    {% endblock %}

</head>

<body>
    <div id="wrap">
        <header class="navbar navbar-static-top">
            <div class="container">
                <div class="text-center">
                    <a class="logo" href="/"><img src="{% static 'bpa-logos/BIO-RGB_Full-POS_Portal.png' %}"
                            alt="Bioplatform Australia" /></a>
                </div>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <form class="form-horizontal col-md-8" id="verify-form" method="POST" enctype="multipart/form-data">
                    <h1>Upload verification system</h1>
                    <p>
                        Sequencing facilities providing data to BioPlatforms Australia can use this page to confirm
                        that metadata requirements, and file naming conventions, have been followed. Any issues
                        identified
                        can then be addressed, prior to transfer of the data to Bioplatforms.
                    </p>
                    <p>
                        Select the <strong>Project</strong> for which data has been generated, and then the
                        <strong>Import type</strong>
                        for the data being uploaded. This will be described by the -omics (e.g. genomics,
                        transcriptomics, ...) and the
                        sequencing technology in use.
                    </p>
                    <p>
                        Select your submission sheet (an Excel file, XLSX format), and the MD5 checksum file (a text
                        file of MD5
                        checksums, in Linux or BSD/MacOS format), then press verify to validate your upload.
                    </p>

                    <div class="form-group">
                        <label for="project" class="col-sm-2 control-label">Project</label>
                        <div class="col-sm-10">
                            <select name="project" id="project" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="importer" class="col-sm-2 control-label">Import type</label>
                        <div class="col-sm-10">
                            <select name="importer" id="importer" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="md5" class="col-sm-2 control-label">Submission sheet</label>
                        <div class="col-sm-10">
                            <div id="xlsx-file">
                                <input type="file" name="xlsx" />
                            </div>
                            <div id="xlsx-done" class="form-control"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="md5" class="col-sm-2 control-label">MD5 Checksums</label>
                        <div class="col-sm-10">
                            <div id="md5-file">
                                <input type="file" name="md5" />
                            </div>
                            <div id="md5-done" class="form-control"></div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button id="verify-btn" class="btn btn-primary">Verify</button>
                        <button id="reset-btn" class="btn btn-warning">Reset</button>
                    </div>
                    {% csrf_token %}
                </form>
                <div class="col-md-2"></div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" id="result">

                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

    </div>

    <footer class="site-footer">
        <div class="site-footer-links container-fluid">
            <a href="http://www.bioplatforms.com">Operated by Bioplatforms Australia</a>
            <a href="mailto:help@bioplatforms.com">Contact</a>
        </div>
        <div class="site-footer-logo container-fluid">
            <span><a href="https://www.bioplatforms.com"><img class="footer-logos"
                        src="{% static 'bpa-logos/BIO-RGB_Large-NEGTRANS.png' %}"
                        alt="Bioplatforms Australia" /></a></span>
            <span style="padding-left: 30px;"><a
                    href="https://www.education.gov.au/national-collaborative-research-infrastructure-strategy-ncris"><img
                        class="footer-logos" src="{% static 'bpa-logos/ncris-footer.png' %}" /></a></span>
        </div>
    </footer>

    <script>
        window.bpa_workflow_config = {
            'ckan_base_url': "{{ ckan_base_url }}",
            'metadata_endpoint': "{% url 'metadata' %}",
            'validate_endpoint': "{% url 'validate' %}",
        };
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            $('[data-toggle="popover"]').popover({ html: true })
        })
    </script>

</body>

</html>